<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panificadora Vitória - pães para toda a família</title>
    <link rel="icon" href="/assets/logo-padaria.png" />
    <link rel="stylesheet" type="text/css" href="/estilo.css">
</head>
        <div class="container-center">
            <div class="login">
              <div class="login-area">
                <img src="/assets/logo-padaria.png" alt="Logo do sistema da padaria" />
              </div>
      
              <form action="/login" method="post">
                <h1>Entrar</h1>
                <input 
                  type="text" 
                  name="email"
                  placeholder="email@email.com"
                />
      
                <input 
                  type="password" 
                  placeholder="********"
                  name="password"
                />
      
                <button type="submit">
                  Acessar
                </button>
              </form>

              
                <a href="/cadastrar">Criar uma conta</a>
      
            </div>
          </div>

</html>